<div class="default col-md-3">
<div class="list-group">
<a href="#" class="list-group-item active">Menu de usuarios</a>
<a href="cerrar.php" class="list-group-item active">Cerrar Sesión</a>
<a href="agregar.php" class="list-group-item active">Cerrar Sesión</a>
<a href="administrar.php" class="list-group-item active">Administra Usuarios</a>
<a href="reporte.php" class="list-group-item active">Reporte Usuarios</a>
</div>  
<div class="list-group">
     <a href="administrar_empleado.php" class="list-group-item active">Administra Usuarios</a>
    <a href="reporte_empleado.php" class="list-group-item active">Reporte empleados</a>
    <a href="reporte_empleado.php" class="list-group-item active">Reporte empleados</a>
</div>
</div>